@page "/igniteuiTable"

<PageTitle>IgniteUI Data Grid</PageTitle>

<h1>IgniteUI table</h1>

<h5>Here you can see our products and whether they are available.</h5>

<IgbDataGrid Height="700px" DataSource="@RemoteJson.WithUri("https://excel2json.io/api/share/c14a4a37-4de7-4e2c-65df-08dbe98ae25c")">

</IgbDataGrid>

x